body {
    @apply transition-colors;
    @apply duration-300;
    @apply ease-in-out;
    @apply font-sans;
    @apply antialiased;
}

body.light {
    background-color: white;
    @apply text-gray-800;
}

body.dark {
    @apply bg-gray-800;
    @apply text-gray-200;
}

.dark-mode-toggle > button {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.dark-mode-toggle > button:focus {
    outline: none;
}

input[type='checkbox'].dmcheck {
    vertical-align: 2px;
}

input[type='checkbox'].dmcheck:checked + label {
    left: 30px;
}

input[type='checkbox'].dmcheck:focus-visible {
    outline: solid 2px white;
}

input[type='checkbox'].dmcheck + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
}

a {
    @apply text-cyan-500;
    @apply dark:text-cyan-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply uppercase;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4,
h5,
h6 {
    @apply text-xl;
}
