/* Fluid Typography */

h1 {
    font-size: 24px;
    line-height: 87%;
}

@media (min-width: 350px) {
    h1 {
        font-size: calc(
            24 * 1px + (60 - 24) * ((100vw - 350px) / (1024 - 350))
        );
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 60px;
    }
}
